*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
button {
    padding: 0;
    background-color: transparent;
    border: none; 
    cursor: default;
}
button:hover {
    cursor: pointer;
}
button.active,
button:active {
    background-color: rgba(255, 255, 255, 0.5);
}

/*  Depends on device:  start  */

html {
    height: 100%;
    font-size: 16px;
    background-color: #000;
}
body {
    position: relative;
	height: 40%;
	overflow: hidden;
    font-family: 'Arial', sans-serif;
}
/*  body fonSize depends on window height via javascript  */
@media only screen and (orientation: landscape) {
	body {
		height: 100%;
	}
}

/*  Depends on device:  end  */

/*  Viewbox start  */
/*  background-image is defined above  */

.box {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000;
    text-align: center;
}
.video {
    position: absolute;
    height: 100%;
    top: -50%;
    bottom: -50%;
    left: -50%;
    right: -50%;
    margin: auto;
    background-color: #000;
    background-image: url("../img/poster_small.jpg");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
}
@media only screen and (min-height: 800px)  {
    .video {
        background-image: url("../img/poster_big.jpg");
    }
}

/*  Viewbox end  */

.box-over-video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-size: inherit;
	overflow: hidden;
}
.sidebar {
    position: absolute;
    width: 5em;
    height: 100%;
    right: 0;
    top: 0;
    overflow: hidden;
    font-size: inherit;
}
.sidebar__slider {
    position: absolute;
    right: 0;
    top: 0;
    width: 5em;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: inherit;
}
.sidebar__slider input {
    display: none;
}
.sidebar__slider__button {
    display: block;
    font-size: inherit;
    width: 5em;
    height: 5em;
    background-color: #5e5e5e;
    background: url("../img/_logos.png") no-repeat;
    background: url("../img/_logos.png") no-repeat, -webkit-linear-gradient(left, rgba(222, 222, 222, 0.0), rgba(120, 120, 120, 0.5), rgba(25, 25, 25, 0.7));
    background: url("../img/_logos.png") no-repeat, -o-linear-gradient(left, rgba(222, 222, 222, 0.0), rgba(120, 120, 120, 0.5), rgba(25, 25, 25, 0.7));
    background: url("../img/_logos.png") no-repeat, linear-gradient(to right, rgba(222, 222, 222, 0.0), rgba(120, 120, 120, 0.5), rgba(25, 25, 25, 0.7));
    background-size: 10em;
    /*opacity: 0.5;*/
}
.sidebar__slider__button:hover {
    /*opacity: 1;*/
    cursor: pointer;
}
.sidebar__slider__button.ch_1gorodskoy   {  background-position: -5em     0,  left;  }
.sidebar__slider__button.ch_3tsyfrovoy   {  background-position: -5em  -5em,  left;  }
.sidebar__slider__button.ch_reporter     {  background-position: -5em -10em,  left;  }
.sidebar__slider__button.ch_academia     {  background-position: -5em -15em,  left;  }
.sidebar__slider__button.ch_a1           {  background-position: -5em -20em,  left;  }
.sidebar__slider__button.ch_dumskaya     {  background-position: -5em -25em,  left;  }
.sidebar__slider__button.ch_gtv          {  background-position: -5em -30em,  left;  }
.sidebar__slider__button.ch_stv          {  background-position: -5em -35em,  left;  }
.sidebar__slider__button.ch_ugnayavolna  {  background-position: -5em -40em,  left;  }
.sidebar__slider__button.ch_nemo         {  background-position: -5em -45em,  left;  }

#ch_1gorodskoy:checked + label.sidebar__slider__button   {  background-position: 0     0,  left;  }
#ch_3tsyfrovoy:checked + label.sidebar__slider__button   {  background-position: 0  -5em,  left;  }
#ch_reporter:checked + label.sidebar__slider__button     {  background-position: 0 -10em,  left;  }
#ch_academia:checked + label.sidebar__slider__button     {  background-position: 0 -15em,  left;  }
#ch_a1:checked + label.sidebar__slider__button           {  background-position: 0 -20em,  left;  }
#ch_dumskaya:checked + label.sidebar__slider__button     {  background-position: 0 -25em,  left;  }
#ch_gtv:checked + label.sidebar__slider__button          {  background-position: 0 -30em,  left;  }
#ch_stv:checked + label.sidebar__slider__button          {  background-position: 0 -35em,  left;  }
#ch_ugnayavolna:checked + label.sidebar__slider__button  {  background-position: 0 -40em,  left;  }
#ch_nemo:checked + label.sidebar__slider__button         {  background-position: 0 -45em,  left;  }





.footer {
    position: absolute;
    left: 0;
    bottom: -14%;
    width: 100%;
    height: 14%;
    text-align: center;
    font-size: 1.3em;
    line-height: 200%;
    background-color: rgba(0, 0, 0, 0.5);
    white-space: nowrap;
}

.footer > * {
    display: inline-block;
    text-shadow: 0 0 3px #000;
    vertical-align: middle;
}
.footer__left,
.footer__right {
    position: absolute;
    top: 0;
}
.footer__left {
    left: 0;
}
.footer__right {
    right: 0;
}
.footer__left > *,
.footer__right > * {
    position: relative;
    float: left;
    vertical-align: middle;
    font-size: 2em;
    line-height: 100%;
    text-align: center;
    padding: 0 0.2em;
    color: #acf;
}
.footer svg {
    display: none;
    width: 1em;
    fill: #acf;
}
.footer svg.active {
    display: inline-block;
}
.footer svg.off {
    fill: rgba(100, 100, 100, 0.5);
}
.footer__right__scale-box,
.footer__left__quality,
.footer__left__help,
.footer__left__volume {
    display: none;
}
.footer__right__scale_btn {
    font-size: inherit;
    color: inherit;
}
.footer__right__scale_subbtns {
    display: none;
    position: absolute;
    bottom: 100%;
    font-size: inherit;
    width: 1.15em;
    height: 2.3em;
}
.footer__right__scale_subbtns.active {
    display: block;
}
.footer__right__scale_subbtns.active .footer__right__scale_btn {
    background-color: rgba(255, 255, 255, 0.5);
} 
.subbtn__up,
.subbtn__down {
    display: block;
    font-size: 1em;
    line-height: 100%;
    text-align: center;
    width: 100%;
    height: 50%;
    color: #acf;
    background-color: rgba(0,0,0,0.5);
    border-bottom: 1px solid #000;
}


.footer__right__menu-off svg{
  -webkit-transform: rotate(-90deg);
     -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
       -o-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.ctrl .footer__right__menu-off svg {
  -webkit-transform: rotate(90deg);
     -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
       -o-transform: rotate(90deg);
          transform: rotate(90deg);
}

.footer__center {
    white-space: nowrap;
    font-size: inherit;
}
.footer__center__banner {
    display: block;
    line-height: 1em;
    font-size: 1em;
    padding: 0.25em 0.5em;
    color: #778899;
    border: 0.1em solid #5566aa;
    border-radius: 0.2em;
    text-decoration: none;
}
.footer__center__banner:hover {
    color: #acf;
}

.ctrl {
    position: relative;
    width: auto;
    bottom: -86%;
    margin: 0 auto;
    border-radius: 0.3em;
    display: inline-block;
}
.ctrl .footer__center {
    display: none;
}
.ctrl .footer__right__scale-box,
.ctrl .footer__left__quality {
    display: inline-block;
}
.ctrl .footer__left,
.ctrl .footer__right {
    position: relative;
}



.help {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 85%;
    height: 85%;
    color: #248;
    text-align: center;
    padding: 0.25em 0.5em;
    background-color: #cc8;
    border: 0.1em solid #5566aa;
    border-radius: 1em;
}
.help.active {
    display: block;
}
.help__side_menu,
.help__footer {
    position: absolute;
    color: #333;
    padding: 0.25em 0.5em;
    margin: 0.25em 0.5em;
    background-color: #eee; 
    border-radius: 0.25em;
}
.help__side_menu {
    right: -1em;
    font-size: 70%;
    text-align: right;
    min-width: 50%;
    white-space: nowrap;
    bottom: 20em;
}
.help__side_menu:after {
    content: '';
    display: block;
    width: 2em;
    height: 1em;
    position: absolute;
    right: -2em;
    top: 0.25em;
    border-top: 0.5em solid transparent;
    border-right: none;
    border-bottom: 0.5em solid transparent;
    border-left: 2em solid #eee;
}
.help__footer {
    text-align: left;
    min-height: 50%;
    bottom: 0.9em;
}
.help__footer > * {
    padding: 0.2em 0.3em 0.2em 1.7em;
    text-indent: -1.5em;
    font-size: 70%;
    line-height: 111%;
}
.help__footer:after {
    content: '';
    display: block;
    width: 2em;
    height: 1em;
    position: absolute;
    left: 7em;
    bottom: -2em;
    border-top: 2em solid #eee;
    border-right: 1em solid transparent;
    border-bottom: none;
    border-left: 1em solid transparent;
}
.help__footer__copyright {
    position: absolute;
    right: 1em;
    bottom: 0.5em;
    font-size: 50%;
}