*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html {
    height: 100%;
    font-size: 16px;
    background-color: #000;
}
.view {
    background-image: url("../img/poster_small.jpg");
}

@media only screen and (min-height: 400px)  {   html {font-size: 20px;   }    }
@media only screen and (min-height: 500px)  {   html {font-size: 25px;   }    }
@media only screen and (min-height: 625px)  {   html {font-size: 31.25px;}    }
@media only screen and (min-height: 800px)  {   html {font-size: 40px;   }    .view {background-image: url("../img/poster_big.jpg"  );}   }
@media only screen and (min-height: 1000px) {   html {font-size: 50px;   }    .view {background-image: url("../img/poster_big.jpg"  );}   }
@media only screen and (min-height: 1250px) {   html {font-size: 62.5px; }    .view {background-image: url("../img/poster_big.jpg"  );}   }
@media only screen and (min-height: 1550px) {   html {font-size: 78px;   }    .view {background-image: url("../img/poster_big.jpg"  );}   }

body {
    position: relative;
	height: 40%;
	overflow: hidden;
    font-family: 'Arial', sans-serif;
    font-size: 40%;
}
@media only screen and (orientation: landscape) {
	body {
		height: 100%;
        font-size: inherit;
	}
}
.view__box {
    width: 100%;
    height: 100%;
    overflow: auto;
}
.view {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
}
.box-over-view {
    /*display: none;*/
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-size: inherit;
	overflow: hidden;
}
.sidebar {
    position: relative;
    height: 90%;
    overflow: hidden;
    font-size: inherit;
}
.sidebar__slider {
    position: absolute;
    right: 0;
    top: 0;
    width: 5em;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: inherit;
}
.sidebar__slider input {
    display: none;
}
.sidebar__slider__button {
    display: block;
    font-size: inherit;
    width: 5em;
    height: 5em;
    background-color: #5e5e5e;
    background: url("../img/_logos.png") no-repeat;
    background: url("../img/_logos.png") no-repeat, -webkit-linear-gradient(left, rgba(222, 222, 222, 0.0), rgba(120, 120, 120, 0.5), rgba(25, 25, 25, 0.7));
    background: url("../img/_logos.png") no-repeat, -o-linear-gradient(left, rgba(222, 222, 222, 0.0), rgba(120, 120, 120, 0.5), rgba(25, 25, 25, 0.7));
    background: url("../img/_logos.png") no-repeat, linear-gradient(to right, rgba(222, 222, 222, 0.0), rgba(120, 120, 120, 0.5), rgba(25, 25, 25, 0.7));
    background-size: 10em;
    /*opacity: 0.5;*/
}
.sidebar__slider__button:hover {
    /*opacity: 1;*/
    cursor: pointer;
}
.sidebar__slider__button.ch_1gorodskoy   {  background-position: -5em     0,  left;  }
.sidebar__slider__button.ch_3tsyfrovoy   {  background-position: -5em  -5em,  left;  }
.sidebar__slider__button.ch_reporter     {  background-position: -5em -10em,  left;  }
.sidebar__slider__button.ch_academia     {  background-position: -5em -15em,  left;  }
.sidebar__slider__button.ch_a1           {  background-position: -5em -20em,  left;  }
.sidebar__slider__button.ch_dumskaya     {  background-position: -5em -25em,  left;  }
.sidebar__slider__button.ch_gtv          {  background-position: -5em -30em,  left;  }
.sidebar__slider__button.ch_stv          {  background-position: -5em -35em,  left;  }
.sidebar__slider__button.ch_ugnayavolna  {  background-position: -5em -40em,  left;  }
.sidebar__slider__button.ch_nemo         {  background-position: -5em -45em,  left;  }

#ch_1gorodskoy:checked + label.sidebar__slider__button   {  background-position: 0     0,  left;  }
#ch_3tsyfrovoy:checked + label.sidebar__slider__button   {  background-position: 0  -5em,  left;  }
#ch_reporter:checked + label.sidebar__slider__button     {  background-position: 0 -10em,  left;  }
#ch_academia:checked + label.sidebar__slider__button     {  background-position: 0 -15em,  left;  }
#ch_a1:checked + label.sidebar__slider__button           {  background-position: 0 -20em,  left;  }
#ch_dumskaya:checked + label.sidebar__slider__button     {  background-position: 0 -25em,  left;  }
#ch_gtv:checked + label.sidebar__slider__button          {  background-position: 0 -30em,  left;  }
#ch_stv:checked + label.sidebar__slider__button          {  background-position: 0 -35em,  left;  }
#ch_ugnayavolna:checked + label.sidebar__slider__button  {  background-position: 0 -40em,  left;  }
#ch_nemo:checked + label.sidebar__slider__button         {  background-position: 0 -45em,  left;  }





.footer {
    position: relative;
    left: 0;
    bottom: 0;
    height: 10%;
    text-align: center;
    font-size: 1em;
    line-height: 200%;
    background-color: rgba(0, 0, 0, 0.5);
}
.footer > * {
    display: inline-block;
    text-shadow: 0 0 3px #000;
    vertical-align: middle;
}
.footer__copyright {
    position: absolute;
    width: 10em;
    height: 4em;
    left: 0;
    text-align: center;
    font-size: 0.5em;
    color: #778899;
    /*
    */
}
.footer__banner {
    white-space: nowrap;
    font-size: inherit;
}
.footer__banner__a {
    display: block;
    line-height: 1em;
    font-size: 1em;
    padding: 0.1em 0.5em;
    color: #778899;
    border: 0.1em solid #5566aa;
    border-radius: 0.2em;
    text-decoration: none;
}
.footer__banner__a:hover {
    color: #acf;
}
.footer__btns {
    position: absolute;
    right: 1%;
    color: #acf;
    text-align: center;
    font-size: inherit;
    white-space: nowrap;
}
.footer__btns__menu-off,
.footer__btns__align,
.footer__btns__quality {
    display: inline-block;
    color: #acf;
    border: none;
    background-color: transparent;
    vertical-align: middle;
    text-shadow: 0 0 3px #000;
    font-size: inherit;
}
button:hover {
    cursor: pointer;
}
.footer__btns__align {
    width: 1.2em;
    height: 1.2em;
}
.footer__btns__align__div{
    width: 0.4em;
    height: 0.4em;
    margin: 0 auto;
}
.footer__btns__align__div.div1 {
    border-top: none;
    border-right: 0.2em solid transparent;
    border-bottom: 0.4em solid #acf;
    border-left: 0.2em solid transparent;
}
.footer__btns__align__div.div2 {
    width: 0.13em;
    background-color: #acf;
}
.footer__btns__align__div.div3 {
    border-top: 0.4em solid #acf;
    border-right: 0.2em solid transparent;
    border-bottom: none;
    border-left: 0.2em solid transparent;
}

.footer__btns__menu-off {
    width: 1em;
    height: 1em;
    line-height: 1em;
    padding: 0 1.6em 0 0.5em;
}
.footer__btns__menu-off__div {
    display: inline-block;
    width: 0.5em;
    vertical-align: middle;
}
.footer__btns__menu-off__div.div1 {
    height: 0.12em;
    margin: 0.19em 0;
    background-color: #acf;
}
.footer__btns__menu-off__div.div2 {
    display: inline-block;
    height: 0.5em;
    margin: 0;
    border-top: 0.25em solid transparent;
    border-right: none;
    border-bottom: 0.25em solid transparent;
    border-left: 0.5em solid #acf;
}
.footer__btns__quality {
    padding-right: 0.5em;
}
.footer__btns__quality__i {
    display: none;
    font-family: "Arial", sans-serif;
    font-size: 1.1em;
    line-height: 100%;
}
.footer__btns__quality__i.active {
    display: inline-block;
    vertical-align: middle;
}
.footer__btns__align,
.footer__btns__menu-off {
    display: none;
}
.footer__btns__align.horisontal {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}


.menu_on_off {
    position: absolute;
    width: 5em;
    height: 2em;
    right: 100%;
    bottom: 0;
    border-left: 5em solid #48f;
    border-top: 1em solid transparent;
    border-bottom: 1em solid transparent;
}
.menu_on_off:hover {
    cursor: pointer;
}
.menu_on_off__text {
    position: absolute;
    left: -1.25em;
    top: -2em;
    height: 1em;
    line-height: 1em;
    font-size: 1em;
    color: #48f;
    text-shadow: #000 0 0 1px, #000 0 0 3px;  
}